@font-face {
  font-family: 'TT Lakes Regular';
  src: url('TTLakes-Regular.eot');
  src:
    url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('TTLakes-Medium.eot');
  src:
    url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Medium.woff') format('woff'),
    url('TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('TTLakes-Bold.eot');
  src:
    url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Bold.woff') format('woff'),
    url('TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes', sans-serif;
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.modal {
  @include flex;
  flex-direction: column;
  width: 320px;
  height: 1024px;
  position: fixed;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
}

.modal__container {
  @include flex;
  gap: 128px;
  margin-top: 15px;
}

.modal__burger {
  @include flex;
  gap: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.modal__search {
  @include flex;
  cursor: pointer;
}

.modal__link {
  @include flex;
  box-sizing: border-box;
  gap: 10px;
  border-left: 4px solid #41f6d7;
  height: 32px;
  color: #7e7e82;
}

&:hover {
  transform: scale(1.1);
  color: blue;
}

.modal__menu {
  @include flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 30px;
  list-style: none;
  padding: 15px;
  font-size: 21px;
}

.modal__item {
  cursor: pointer;
  transform: scale(1.1);
}

.modal__footage {
  @include flex;
  flex-direction: column;
  margin-top: 100px;
}

.modal__footage--icons {
  @include flex;
  gap: 15px;
  margin: 10px;
  cursor: pointer;
}

.modal__footage--contacts {
  padding: 10px;
}

.email {
  display: flex;
}
.phone-number {
  display: flex;
  font-size: 24px;
  font-style: bold;
  color: #1b1c21;
  margin-bottom: 5px;
  font-family: 'TT Lakes Bold', sans-serif;
}
.lang {
  font-size: 15px;
}

/*header-section*/

